.arrow {
  margin-left: -10px;
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(-45deg);
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
}

.arrowleft {
  left: -14px;
}

.arrowright {
  right: -25px;
}

@media only screen and (max-width: 1024px) {
  .arrowleft {
    left: -8px;
  }

  .arrowright {
    right: -15px;
  }

  .arrow {
    /* margin-left: 10px; */
    width: 32px;
    height: 32px;
  }
}
